:root{
    --blanco:#ffffff;
    --oscuro:#212121;
    --primario:#8D3B72;
    --secundario:#8A7090;
    --gris: #858383;
}

html{
    font-size:62.5%;

}
body{
    font-size: 16px;
    font-family: sans-serif;
}
.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal{
    display: flex;
    justify-content: space-between;
}
@media  (min-width:768px) {
    .navegacion-principal{
        
        flex-direction: column;
        justify-content: space-between;
    }
    
}
.navegacion-principal a{
    color:var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}
